body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.dropdown-item {
    cursor: pointer;
}
.mr-1{
    margin-right: 10px;
}

#loginPanel {
    margin-top: 50px;
    width: 50rem;
}


#registerPanel {
    margin-top: 50px;
    width: 100rem;
}

.col {
    margin: 20px;
}

.modal-header {
    text-align: center;
}

.modal-title {
    margin: 0 auto;
}

.btn-style {
    position: relative;
    border-radius: 8px;
    border: 0;
    overflow: hidden;
    width: 17rem;
    margin-top: 1rem;
}

    .btn-style input[type="file"] {
        cursor: pointer;
        position: absolute;
        left: 0%;
        top: 0%;
        transform: scale(3);
        opacity: 0;
    }

#page-topbar {
    background-color: #e95420;
    border-color: #d34615;
    color: #fff;
}

.btn {
    color: #fff;
}

    .btn:hover {
        color: #fff;
    }

#footer {
    background-color: #e95420;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    width: 100%;
    bottom: 0;
    z-index: 100;
    position: fixed;
    padding-right: 20px;
    padding-left: 20px;
}

#loading-gif.show {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url('loading.gif');
    opacity: .4;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.dropdown button, .dropdown-menu button {
    display: block;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
}
